name: Open issues

on:
  # Must be after we update the sources (build website) .
  schedule:
    - cron: '51 6,8 * * *'
  push:
    branches:
      - master

jobs:
  build:
    name: Open issues
    runs-on: ubuntu-latest

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download dependencies
        run: composer install --no-interaction --optimize-autoloader

      - name: Open issues
        env:
          CUSTOM_GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
        run: bin/console app:open-issues
